.nextPageLink {
    align-items: center;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: rgba(222,225,230,255);
    color: #333333;
    padding: 10px 20px 10px 20px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
beginingText
h1{
    color: white;
    font-size: 250%;
    text-shadow: 0px 0px 2px black;
}
body{
    font-size: x-large;
    color: white;
    font-family: Helvetica;
    text-align: center;
    background: url(../../Images/radiobackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.challengeImage{
    size-adjust: 50%;
    padding: 3px 3px;
}
input[type=number]{
    width: 10%;
    box-sizing: border-box;
    padding: 1em;
}
input[type=submit]{
    padding: 1em;
}
