h1
{
    color: yellow;
    font-size: 200%;
    text-shadow: 0px 0px 2px black;
}
body
{
    color: white;
    font-family: Helvetica;
    text-align: center;
    background-image: url(../images/WellDoneBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text
{
    font-size: x-large;
    font-family: Helvetica;
    font-size: 125%;
    text-shadow: 0px 0px 2px black;
}
div.relative 
{
    position: relative;
    top: 525px;
}
.restart
{
    font-family: Helvetica;
    background-color: rgba(222,225,230,255);
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}
