h1
{
    color: white;
    font-size: 200%;
    text-shadow: 0px 0px 2px black;
}
body
{
    font-size: x-large;
    color: white;
    font-family: Helvetica;
    text-align: center;
    background-image: url(../../images/EngineBackground2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text1
{
    font-family: Helvetica;
    text-shadow: 0px 0px 2px black;
    font-size: 125%;
}
.text2
{
    text-shadow: 0px 0px 2px black;
    font-size: 125%;
}
.answer {
    font-family: Helvetica;
    background-color: rgba(222,225,230,255);
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}
.repairEngineImage2
{
    size-adjust: 50%;
    padding: 3px 3px;
}